<div id="link"><%= link_to("Add a new team", new_team_path) %></div>
<h1>List of teams currently avalible</h1>

<table>
  <tr>
    <th>Team</th>
    <th>Hometown</th>
  </tr>

<%@teams.each do |team| %>
  <tr>
    <td><%= team.name %></td>
    <td><%= team.hometown %></td>

    <td>
     <td> < </td>
    <% end %>
  </tr>
</table>

