<h1>NBA Scores</h1> 
<div id="infobox"><p>Fixtures</p></div>

<% if @teams %>
<ul>
  <% @teams.each_slice(2) do |team| %>
    <input type="button" value="<%= team[0] %>" onclick="myFunction('<%= team[0] %>');" />
    <input type="button" value="<%= team[1] %>" onclick="myFunction('<%= team[1] %>');"/><br><br>
  <% end %>
</ul>
<% end %>

<script>

function myFunction(team){
  alert(team);
}

</script>