<div id="outline" style="background-color:#1874CD; color:white;border:2px solid;border-radius:25px;box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);border-color:black;">
<center><h1>NBA Scores</h1> 
<div id="infobox"><p>Fixtures</p></div>

<% if @teams %>
<ul>
  <% @teams.each_slice(2) do |team| %>
    <input type="button" value="<%= team[0] %>" onclick="myFunction('<%= team[0] %>');" />
    <input type="button" value="<%= team[1] %>" onclick="myFunction('<%= team[1] %>');"/><br><br>
  <% end %>
</ul>
<% end %>
</center></div>
<script>

function myFunction(team){
  alert(team);
}

</script>